header{
   background-color: #00498d
}

.caixa{
   position: relative; 
   width: 940px;
   margin: 0 auto;
}

nav {
    position: absolute;
    top:0px;
    right:10 ;

}
nav li{
    display:inline;
    margin:0 0 0 15px;
  }

  nav a {
      text-transform: uppercase;
      color:#dde018;
      font-weight: bold;
     font-size: 19px;
     text-decoration: none;
  }

  .produtos li {
      display: inlane-block;
  }
